<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-autowire="byName">


    <bean id="sqlSessionFactory" class="com.ytrue.middleware.orm.spring.SqlSessionFactoryBean">
        <property name="resource" value="mybatis-config-datasource.xml"/>
    </bean>

    <bean class="com.ytrue.middleware.orm.spring.MapperScannerConfigurer">
        <!-- 注入sqlSessionFactory -->
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <!-- 给出需要扫描Dao接口包 -->
        <property name="basePackage" value="com.ytrue.middleware.orm.spring.test.dao"/>
    </bean>

</beans>
